:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #242424;
  --color-secondary: #fff;
  --color-tertiary: #242424;

}

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main .back {
  width: 100%;
  height: 100vh;
}


main .back nav {
  position: absolute;
  top: 32%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

main .back nav ul {
  list-style: none;
}


main .back nav ul li {
  margin: 10px 10px;
}

main .back nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.5s;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 160px rgba(255, 255, 255, 0.5);
  ;
}

main .back nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.5s;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 160px rgba(255, 255, 255, 0.5);
  ;
}


main .back h1 {
  font-size: 6vw;
  font-weight: 900;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 27%;
  left: 53%;
  transform: translate(-58%, 36%);
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 160px rgba(255, 255, 255, 0.5);
}

main .back .infos {
  position: absolute;
  top: 23%;
  left: 88%;
  transform: translate(-58%, 113%);
  text-align: center;
}

main .back .infos h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 160px rgba(255, 255, 255, 0.5);
}

main .back .infos a {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 160px rgba(255, 255, 255, 0.5);
}

main .back canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main .back .btn-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main .back .btn-down a {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 160px rgba(255, 255, 255, 0.5);
}

main .content {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  background-color: #ffffff98;
  color: #000;
}

main .content #about {
  padding: 10px;
  margin: 10px;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  border-bottom:
    3px solid rgba(0, 0, 0, 0.75);

}

main .content #about h2 {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 0;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  writing-mode: vertical-lr;
  rotate: 180deg;
  border-right:
    3px solid rgba(0, 0, 0, 0.75);
}

main .content #about p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0;
  line-height: 1;
  color: #000;
  text-align: center;
}

main .content .services {
  padding: 10px;
  margin: 10px;
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

main .content .services h2 {
  font-size: 4rem;
  font-weight: 200;
  padding: 10px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-left:
    3px solid rgba(0, 0, 0, 0.75);
  writing-mode: sideways-lr;
}


main .content .services .products {
  padding: 10px;
  margin: 10px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main .content .services .products .card {
  width: 30%;
  height: 50vh;
  color: #000;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/Content/Img/Portfolio.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

main .content .services .products .card:nth-child(2) {
  background-image: url(/Content/Img/3D.png);
}

main .content .services .products .card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  width: 50%;
}

main .content .services .products .card:hover h3 {
  margin-top: 20rem;
  transition: 0.5s;
  width: fit-content;
}


main .content .services .products .card h3 {
  position: absolute;
  font-size: 2rem;
  font-weight: 200;
  padding: 10px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-bottom:
    3px solid rgba(255, 255, 255, 0.75);
  margin-top: 25rem;
  background-color: white;
  width: 25%;
  transition: 0.5s;
}

#skills {
  padding: 10px;
  margin: 10px;
  height: fit-content;
  text-align: center;
}

#skills h2 {
  font-size: 4rem;
  font-weight: 200;
  padding: 20px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-bottom:
    3px solid rgba(0, 0, 0, 0.75);
  max-width: 1200px;
  margin: 0 auto;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;


}

.skills>div {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills>div h3 {
  font-size: 2rem;
  font-weight: 200;
  padding: 10px;
  line-height: 1;
  color: #000;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  border-bottom:
    3px solid rgba(0, 0, 0, 0.75);
  max-width: 1200px;
  width: 100%;
  margin-top: 20rem;
}



.skill:nth-child(1) {
  background-image: url(/Content/Img/HTML.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.5s;
}

.skill:nth-child(2) {
  background-image: url(/Content/Img/CSS.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  padding: 10px;

}

.skill:nth-child(3) {
  background-image: url(/Content/Img/JS.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.skill:nth-child(4) {
  background-image: url(/Content/Img/PHP.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.skill:nth-child(5) {
  background-image: url(/Content/Img/ThreeJS.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.skill:nth-child(6) {
  background-image: url(/Content/Img/React.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.skill:nth-child(7) {
  background-image: url(/Content/Img/Laravel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.skill:nth-child(8) {
  background-image: url(/Content/Img/Blender.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.skill:nth-child(9) {
  background-image: url(/Content/Img/Node.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  filter: grayscale(100%);
}

.skill:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

#projects {
  padding: 10px;
  margin: 10px;
  height: fit-content;
  text-align: center;

}

#projects h2 {
  font-size: 4rem;
  font-weight: 200;
  padding: 20px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-bottom:
    3px solid rgba(0, 0, 0, 0.75);
  max-width: 1200px;
  margin: 0 auto;
}

.swiper {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  transition: 0.5s;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.75);
  padding: auto;
}

.swiper-slide:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.swiper-slide a {
  text-decoration: none;
  color: #000;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
  padding: 2rem;
}

#contact {
  padding: 10px;
  margin: 10px;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-top: 3px solid rgba(0, 0, 0, 0.75);
}

#contact h2 {
  font-size: 4rem;
  font-weight: 200;
  padding: 20px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-bottom:
    3px solid rgba(0, 0, 0, 0.75);
  writing-mode: vertical-lr;
  rotate: 180deg;

}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-form form input {
  width: 50%;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.75);
  outline: none;
}

.contact-form form textarea {
  width: 24rem;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.75);
  outline: none;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.contact-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-info .infos a {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #000;
  text-align: center;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5),
    0 0 160px rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer {
  padding: 10px;
  margin: 10px;
  height: fit-content;
  text-align: center;
  border-top: 3px solid rgba(0, 0, 0, 0.75);
}

footer p {
  font-size: 1rem;
  font-weight: 200;
  padding: 10px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-bottom:
    3px solid rgba(0, 0, 0, 0.75);
}

footer a {
  font-size: 3rem;
  font-weight: 200;
  padding: 10px;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}