canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

$colorText: #f0f0f0;
$fontFamily: fantasy;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $colorText;
  background-color: #1a1a1a;
  height: 200vh;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 436px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
  }

  header .main-nav {
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
  }

  header .menu-btn {
    font-size: x-large;
    color: $colorText;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 2;
  }

  header .menu-btn i {
    color: $colorText;
  }

  header .menu-btn i:hover {
    color: #f0f0f0;
  }

  header .main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 102vh;
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
  }

  header .main-nav ul.active {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  header .main-nav ul p {
    font-size: 0.5rem;
    color: $colorText;
    font-family: emoji;
    text-decoration: none;
  }

  header .main-nav ul li {
    margin: 0 5px;
    padding: 10px 0;
    text-decoration: none;
    list-style-type: none;
  }

  header .main-nav ul li a {
    font-size: 2rem;
    color: $colorText;
    font-family: $fontFamily;
    text-decoration: none;
  }

  main .name {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: end;
  }

  main .name h1 {
    font-size: 3.2rem;
    text-align: end;
    letter-spacing: 5px;
    font-family: $fontFamily;
  }
}
